# OpenOCD Flash Template
# Usage: openocd -f <interface.cfg> -f <target.cfg> -f flash.cfg
# Replace {{FILE}} and {{ADDRESS}} before use (address only required for .bin)

init
program {{FILE}} verify reset exit
